@import "../../../lib/bootstrap/css/bootstrap.min.css";
@import "../../../lib/mdb/scss/mdb.free";
@import "addOns.style";
@import "parcour.style";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




body{

  font-family: 'Poppins', sans-serif;
}


a.active {
    color: $jsOrange !important;
}



.text-jsOrange{
  color: $jsOrange !important;
}


.bg-jsOrange{
  background-color: $jsOrange !important;

}

.bg-2 {
  background-color: #d3d3d3;
}

.bg-1 {
  background-color: #1e5069;
}

// .bg-danger {
//     background-color: #000;
// }
.btn-grey {
  background-color: #fff;
}

.btn-grey:hover {
  background-color: #fff;
}


.pt-custom-1 {
  padding-top: 70px;
}
.pt-custom-2 {
  padding-top: 70px;
}
@media (min-width: 1199.98px) {
  .pt-custom-1 {
    padding-top: 200px;
  }
  .pt-custom-2 {
    padding-top: 100px;
  }
}

#svg-background {
  z-index: -10;
  height: 900px;
}
body {
  overflow-x: hidden;
}
.fade {
  animation-duration: 1s;
  animation-fill-mode: both;
  padding: auto;
  animation-name: fade-in;
}

.fade-delay-15 {
  animation-delay: 0.15s;
}

.fade-delay-30 {
  animation-delay: 0.30s;
}
@keyframes slidein {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}